/* http://meyerweb.com/eric/tools/css/reset/
v5.0.2 | 20191019
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
    display: block;
}
/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
    display: none;
}
body {
    line-height: 1;
}
menu, ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}



:root {
    --form-control-background: #0d6efd;
    --form-control-color: #fff;
    --td-color: #3CB035;
    --lewica-color: #A71256;
    --ko-color: #02468F;
    --ko-color-alt: #2670bd;
}

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

button,
input,
optgroup,
select,
option,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
    padding-left: 5px;
    border-radius: 0;
}

/* inspiration: https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: #fff;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 2em;
    height: 2em; /* overwritten by flex basis anyway */
    border: 1px solid currentColor;
    border-radius: 2px;

    display: grid;
    place-content: center;
    margin-right: 1em;
}

input[type="checkbox"]:checked {
    background-color: var(--form-control-background);
    border: 1px solid var(--form-control-background);
}
input.lewica-bg[type="checkbox"]:checked {
    border: 1px solid var(--lewica-color);
    background-color: var(--lewica-color);
}
input.ko-bg[type="checkbox"]:checked {
    border: 1px solid var(--ko-color);
    background-color: var(--ko-color);
}
input.td-bg[type="checkbox"]:checked {
    border: 1px solid var(--td-color);
    background-color: var(--td-color);
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #fff;
    /* Windows High Contrast Mode */
    background-color: CanvasText;
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}
#lewicaPicker,
#koPicker,
#tdPicker {
    position: relative;
}

#lewicaPicker input[type="checkbox"]::after,
#koPicker input[type="checkbox"]::after,
#tdPicker input[type="checkbox"]::after {
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.pickerContainer .pickerLogo {
    width: auto;
    height: 100%;
    max-width: 100%;
}
@media (max-width: 899px) {
    input[type="checkbox"]::before {
        width: 1.25em;
        height: 1.25em;
    }
    input[type="checkbox"] {
        margin: 0;
    }
    .pickerContainer > div {
        justify-content: space-between;
        width: 33%;
    }
    .pickerLogo {
        width: 100%;
        height: auto;
        max-height: 60px;
        margin-top: 0.5em;
        padding-top: 0.5em;
    }

    .pickerContainer > div > input[type="checkbox"]::after {
        background: linear-gradient(180deg, var(--color) 0%, var(--color) 42%, var(--color-faded) 42%, var(--color-faded) 100%);
    }
}

input[type="checkbox"]::after {
    --color: #8e8e8e;
    --color-faded: #d2d2d2;
    background: linear-gradient(90deg, var(--color) 0%, var(--color) 22%, var(--color-faded) 22%, var(--color-faded) 100%);
}
#lewicaPicker input[type="checkbox"]:checked::after {
    --color: var(--lewica-color);
    --color-faded: rgb(167, 18, 86, 40%);
}
#koPicker input[type="checkbox"]:checked::after {
    --color: var(--ko-color);
    --color-faded: rgb(2, 70, 143, 40%);
}
#tdPicker input[type="checkbox"]:checked::after {
    --color: var(--td-color);
    --color-faded: rgb(60, 176, 53, 40%);
}


.pickerContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pickerContainer > div {
    font-size: 1.5em;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.5em;
    height: 3em;
    padding: 0.5em;
    cursor: pointer;
}

.pickerCheckbox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 2em;
}

.pickerCheckbox:not(:checked)~.pickerLogo {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Archivo', serif;
    font-size: 10px;
    line-height: 1.25;
}

h1 {
    font-size: 3.5em;
    font-weight: bolder;
    margin-bottom: 0.8em;
}
h2 {
    font-size: 3em;
    margin-bottom: 0.5em;
}
h3 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 0.8em;
}
h4 {
    font-size: 1.5em;
    font-weight: bolder;
    margin-bottom: 0.5em;
}
h5 {
    font-size: 1.5em;
    margin-bottom: 0.8em;
}
h6 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    font-weight: normal;
}
#suggestionStatic {
    font-weight: 700;
}

p {
    font-size: 1em;
    margin-bottom: 0.25em;
}

main {
    padding: 0px;
    max-width: 1000px;
    margin: 0 auto;
}

.realistic-marker-highlight {
    position: relative;
    margin-left: 5px;
    white-space: nowrap;
}
.realistic-marker-highlight:before{
    content:"";
    width:100%;
    height:1.3em;
    position:absolute;
    z-index:-1;
    filter:url(#marker-shape);
    left:-0.25em;
    top:-0.05em;
    padding:0 0.30em;
}
.lewica-bg {
    background-color: var(--lewica-color);}
.ko-bg {
    background-color: var(--ko-color);}
.td-bg {
    background-color: var(--td-color);
}

header.site-header {
    background: #004494;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    text-align: center;
    font-family: 'Archivo', serif;
    padding: 20px;
}
header.site-header .wybierz-tak-logo {
    --logo-fill: #fff;
    max-width: 50%;
    margin-bottom: 1rem;
}
header.site-header > span {
    font-size: 3em;
    margin-bottom: 1rem;
}
header.site-header > span.with-parties {
    z-index: 1;
}
header.site-header .trzecia-droga.realistic-marker-highlight::before {
    background-color: var(--td-color);
    transform: skew(1deg, 1deg);
    width: 108%;
    height: 1.2em;
}
header.site-header .ko.realistic-marker-highlight::before {
    width: 112%;
    background-color: var(--ko-color-alt);
    height: 1em;
    top: 0;
    left: -.10em;
}
header.site-header .lewica.realistic-marker-highlight::before {
    width: 112%;
    background-color: var(--lewica-color);
    transform: skew(-4deg, -4deg);
    height: 1.3em;
}
header.site-header span.populist {
    font-weight: 600;
}

section#actual-map, section.recommendations, section.bottom-info{
    padding: 10px;
    font-size: 0.9rem;
}
    /* Style for the parent element */
.parent-element {
    display: flex;
    flex-direction: row;
    gap: 20px;
    max-width: 1000px;
}

/* Style for the left column */
.left-column {
    width: 300px;
    z-index: 1;
}

/* Style for the right column */
.right-column {
    flex: 1;
    width: 550px;
    height: 550px;
}


/* Style for the checkboxes */
.checkbox {
    margin-bottom: 10px;
}

.recommendations {
    margin-bottom: 20px;
}

.recommendations p {
    font-size: 1.25em;
    margin-bottom: 0.25em;
}



h1 {
    display: flex;
    flex-wrap: wrap;
    column-gap: 5px;
}

#nazwaOkreguSelect {
    width: 250px;
    font-weight: inherit;
    border: 1px dashed #333;
}

#nazwaOkreguSelect option {
    font-size: smaller;
}

section#votes-vs-mandates {
    background: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    font-size: 1em;
}
section#votes-vs-mandates h1 {
    z-index: 1;
    color: white;
}
section#votes-vs-mandates > div h6,
section#voting > div h6 {
    font-weight: bold;
    font-size: 2em;
}
section#votes-vs-mandates .realistic-marker-highlight {
    white-space: break-spaces;
}
section#votes-vs-mandates h1.realistic-marker-highlight::before {
    background-color: #da4131;
    height: 106%;
    width: 105%;
    transform: skew(5deg,2deg);
}
section#votes-vs-mandates > div,
section#voting > div {
    display: flex;
    justify-content: center;
}
section#votes-vs-mandates div.left span:not(.hint),
section#votes-vs-mandates div.right span:not(.hint)
section#voting div.left span:not(.hint),
section#voting div.right span:not(.hint) {
    color: #333;
}
section#votes-vs-mandates div.left,
section#votes-vs-mandates div.right,
section#voting div.left,
section#voting div.right {
    flex: 1;
    background-color: #fff;
    height: 200px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    position: relative;
    padding: 25px 50px;
    z-index: 0;
}
section#votes-vs-mandates div.left,
section#voting div.left {
    margin-right: 4rem;
    z-index: 1;
}
section#votes-vs-mandates div.left::after,
section#voting div.left::after {
    content: '';
    position: absolute;
    right: -39px;
    z-index: -1;
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #fff;
}

section#votes-vs-mandates div.right::before,
section#voting div.right::before {
    content: '';
    border-top: 40px solid transparent;
    border-bottom: 40px solid transparent;
    border-left: 40px solid #333;
    position: absolute;
    left: -1px;
    z-index: 2;
}
section#voting div.right::before {
    border-left-color: #e4e4e4;
}
section#votes-vs-mandates .hint {
    font-size: 2em;
    text-align: right;
    color: #fff;
    margin-top: 1em;
}
section#detailed-recommendations {}
section#detailed-recommendations .parties {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
section#detailed-recommendations .parties a {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#detailed-recommendations .parties a img {
    transition: ease-in-out 100ms;
    width: 150px;
}
section#detailed-recommendations .parties a:hover img {
    transform: scale(1.1);
}
@media (max-width: 899px) {
    section#detailed-recommendations .parties {
        flex-direction: column;
    }
    section#votes-vs-mandates h1,
    section#voting h1 {
        font-size: 4em;
    }
    section#votes-vs-mandates div.left,
    section#voting div.left {
        margin-right: unset;
        margin-bottom: 2em;
    }
    section#votes-vs-mandates > div,
    section#voting > div {
        flex-direction: column;
    }
    section#votes-vs-mandates > div h6,
    section#voting > div h6 {
        font-weight: bold;
        font-size: 1.5em;
    }
    section#votes-vs-mandates div.left,
    section#votes-vs-mandates div.right,
    section#voting div.left,
    section#voting div.right {
        font-size: 2em;
        max-width: unset;
        padding: 20px;
        flex: 0;
        min-height: 200px;
    }
    section#votes-vs-mandates div.right h6,
    section#voting div.right h6 {
        margin-top: 1em;
    }
    section#votes-vs-mandates div.left::after,
    section#voting div.left::after {
        content: '';
        position: absolute;
        z-index: -1;
        border-right: 40px solid transparent;
        border-left: 40px solid transparent;
        border-top: 40px solid #fff;
        top: calc(100% - 1px);
        left: unset;
        right: unset;
    }
    section#votes-vs-mandates div.right::before,
    section#voting div.right::before {
        border-right: 40px solid transparent;
        border-top: 40px solid #333;
        border-left: 40px solid transparent;
        top: -1px;
        left: unset;
        right: unset;
    }
    section#voting div.right::before {
        border-top-color: #e4e4e4;
    }
}
section#detailed-recommendations,
section#voting {
    background-color: #e4e4e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em;
    font-size: 1em;
}
section#voting svg {
    --logo-fill: #333;
    max-height: 1.5em;
}
section#strategy-1,
section#strategy-2 {
    font-family: "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
    font-size: 1rem;
    text-align: center;
}
section#detailed-recommendations,
section#strategy-1,
section#initiative {
    background-color: #ececec;
    background-image: linear-gradient(to bottom right, #fff, #ececec);
    color: #333;
}
section#strategy-2 {
    background-color: #da4131;
    color: #fff;
}
section#strategy-2 small {
    margin-top: 2em;
    font-size: 0.8em;
}
section#strategy-2 svg,
section#strategic-analysis svg {
    margin-top: 2em;
    max-width: 30%;
    margin-left: auto;
    min-width: 200px;
}

section#strategy-1 h1,
section#strategy-2 h1,
section#strategic-analysis h1,
section#initiative h1 {
    font-family: "Arial Black", "Arial", "sans-serif";
    font-weight: 600;
    margin-bottom: 1em;
}
section#strategy-1 p,
section#strategy-2 p,
section#strategic-analysis ul,
section#initiative ul {
    font-size: 1.2em;
    text-align: left;
}
section#strategy-1 p,
section#strategy-2 p {
    text-align: center;
}
section#strategic-analysis ul,
section#initiative ul {
    list-style: initial;
    max-width: 90%;
}
section#strategic-analysis ul:not(:last-of-type),
section#initiative ul:not(:last-of-type) {
    margin-bottom: 1em;
}

section#strategic-analysis {
    font-size: 1.5em;
    font-family: "Arial", "sans-serif";
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
    text-align: center;
    background-color: #333;
    color: #fff;
}

section#initiative {
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em 3em;
    text-align: center;
    color: #333;
}
section#initiative::after {
    content:'';
    height: 80px;/* share buttons offset */
}
section#initiative .inverted-logo {
    --logo-fill: #da4131;
    width: 50%;
    margin-bottom: 0.5em;
    min-width: 300px;
}
section#initiative .phone {
    white-space: nowrap;
}
section#initiative ul.who-we-are {
    font-size: 1.3em;
    list-style: none;
    width: 100%;
    margin-bottom: 1em;
}
section#initiative ul.who-we-are li a {
    font-size: 1em;
}
section#initiative ul.who-we-are li {
    display: flex;
    justify-content: space-between;
    min-height: 1.6em;
}
section#initiative ul.who-we-are li span {
    display: flex;
    align-items: center;
}
section#initiative a {
    color: #333;
    font-size: 1.3em;
    display: flex;
    align-items: center;
}
section#initiative .who-we-are a {
    text-decoration: none;
}
#links {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#links a {
    text-decoration: underline;
}
.icon {
    width: 30px;
    height: 30px;
    background-color: #333;
    border-radius: 50%;
    color: #fff;
    margin-right: .25em;
    flex-shrink: 0;
}
section#initiative .cc {
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    font-size: 1.2em;
    text-align: left;
}

section#initiative .cc svg {
    width: 5em;
    height: 5em;
    flex-shrink: 0;
}
svg.map {
    fill: #ddd;
}

svg.map path {
    stroke: #b0b0b0;
}

svg.map path.selected {
    stroke: black;
    stroke-width: 4px;
    filter:
        saturate(1.2);
}

svg.map path:hover {
    stroke: black;
    stroke-width: 4px;
    filter:
        saturate(1.2);
}

.txtWhite {
    stroke: none;
    fill: #fff;
    font-size: large;
    font-weight: bolder;
}

.txtBlack {
    stroke: none;
    fill: #131010;
    font-size: large;
    font-weight: bolder;
}


.none-fill {
    fill: white;
}

.lewica-fill {
    fill: #A71256
}

.ko-fill {
    fill: #02468F
}

.td-fill {
    fill: #3CB035
}

.lewica-stroke {
    stroke: #A71256
}

.ko-stroke {
    stroke: #02468F
}

.td-stroke {
    stroke: #3CB035
}


.pickerContainer .legend-square {
    width: 20px;
    height: 20px;
}

/* Media query for screen sizes less than 900px */
@media (max-width: 899px) {
    body {
        font-family: 'Archivo', serif;
        font-size: 8px;
    }

    h1 {
        font-size: 1.5rem;
    }
    h2 {
        font-size: 1.25rem;
    }
    h3 {
        font-size: 1rem;
    }
    h5 {
        font-size: 1.3rem;
    }
    p {
        font-size: 0.6em;
    }

    .pickerContainer {
        flex-direction: row;
        justify-content: center;
        gap: 20px;
    }
    .pickerContainer .legend-square {
        width: 15px;
        height: 15px;
    }

    .pickerContainer > div {
        font-size: 1em;
        flex-direction: column;
        height: auto;
    }

    /* Change the flex direction to column */
    .parent-element {
        flex-direction: column;
    }

    .right-column,
    .left-column {
        width: 100%;
    }

    section#initiative ul.who-we-are li {
        margin-bottom: 1em;
    }

    .cc {
        font-size: 2em;
    }
}


.beforeMap {
    font-size: 2.5em;
    width:100%;
    padding-bottom: 10px;
    text-align: center;
}

@media (max-width: 899px) {
    .beforeMap {
        font-size: 2em;
    }
}

h2.recommendation {
    font-weight: inherit;
}

b {
    font-weight: bold;
}

div.fullRecomendation{
    font-size: 1.25em;
}
@media (max-width: 899px) {
    div.fullRecomendation{
        display: none;
    }
}

.shareButtons {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f2f2f2;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    font-size: 2em;
  }
.shareButtons h3 {margin: 0;}

.share-popup-backdrop {
    background: rgba(94, 94, 94, 0.95);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.share-popup.content {
    background-color: #f2f2f2;
    text-align: center;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 3;
    max-height: 50vh;
    max-width: 50vw;
    min-width: 300px;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.share-popup.content .close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}
.share-popup.content .close:hover {
    opacity: 1;
}
.share-popup.content  .close:before, .share-popup.content  .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}
.share-popup.content  .close:before {
    transform: rotate(45deg);
}
.share-popup.content  .close:after {
    transform: rotate(-45deg);
}

.share-popup .share-btn {
    font-size: 4em;
}
